@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  height: 5000px;
}
.container {
  width: 97%;
  margin: 15px auto;
}
header {
  background: #fff;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-content .brand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}
.header-content .brand span {
  color: #ff2020;
}
nav ul {
  display: flex;
  margin-right: 15px;
}
nav ul li {
  list-style: none;
  margin: 0 10px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

nav ul#user_info {
  display: none;
  font-weight: 700;
}
nav ul#user_info a {
  font-size: 20px;
  color: #2c2c2c;
  transition: all 0.5s;
}
nav ul#user_info a:hover {
  color: rgb(224, 1, 68);
}
/* Slider (Login & Register) */
.slider-log {
  position: relative;
}
.slider-log .background {
  min-height: 500px;
  background-image: url("https://i.ibb.co/wd5QSD3/back-login.webp");
  background-repeat: no-repeat;
  background-position: center center;
}
.slider-log h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
}

/* Home Page Slider */
.home-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.home-slider .product-desc {
  margin-left: 70px;
  flex: 2;
  position: relative;
  top: 10px;
}
.home-slider .product-desc h1 {
  font-size: 80px;
  font-family: "Reggae One", cursive;
  color: #0b1c39;
  margin-bottom: 30px;
}
.home-slider .product-desc p {
  font-size: 18px;
  width: 600px;
  line-height: 27px;
}
.home-slider .product-desc button {
  margin: 50px 0;
  border: none;
  padding: 20px 30px;
  background: #494a4a;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s linear;
}
.home-slider .product-desc button:hover {
  background: red;
}
.home-slider img {
  margin-right: 60px;
  transition: color 0.4s linear;
  animation: product 1.5s alternate infinite;
  transform: scale(0.9);
}
@keyframes product {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* Products New Arrivals */
.products {
  margin-top: 200px;
  margin-left: 60px;
}
.products h2 {
  font-size: 50px;
  padding: 30px 0;
  margin-bottom: 30px;
}
.product-itmes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  overflow: hidden;
}
.item {
  transition: transform 0.5s;
  transform: scale(1);
  cursor: pointer;
}
.item p {
  font-size: 23px;
  font-weight: 600;
  color: #494a4a;
  padding: 15px 0;
  cursor: pointer;
}
.item span {
  color: red;
  font-weight: 600;
}
.item:hover {
  transform: scale(0.9);
}
.item .image {
  position: relative;
}
.item .image i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #c8007c;
  padding: 14px;
  font-size: 22px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  color: #fff;
  opacity: 0;
}
.item:hover i {
  opacity: 1;
}
.item .image i.fa-heart {
  margin: 0 30px;
}
.item .image i.fa-heart:hover {
  background: #ffffff;
  color: red;
}
.item .image i.fa-shopping-cart {
  margin: 0 -30px;
}
.item .image i.fa-shopping-cart:hover {
  background: #ffffff;
  color: #d13b00;
}

/* checkout icon  */
.buy-checkout {
  position: relative;
}

.buy-checkout a i:after {
  content: "4";
  width: 20px;
  height: 20px;
  padding: 2px;
  top: -5px;
  left: 20px;
  position: absolute;
  text-align: center;
  background: #f38405;
  color: rgb(255, 230, 0);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 50%;
}
