@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.container {
  width: 97%;
  margin: 15px auto;
}
header {
  background: #fff;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.header-content .brand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}
.header-content .brand span {
  color: #ff2020;
}
nav ul {
  display: flex;
  margin-right: 15px;
}
nav ul li {
  list-style: none;
  margin: 0 10px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: rgb(22, 22, 22);
}

nav ul#user_info {
  display: none;
  font-weight: 700;
}
nav ul#user_info a {
  font-size: 20px;
  color: #2c2c2c;
  transition: all 0.5s;
}
nav ul#user_info a:hover {
  color: rgb(224, 1, 68);
}
/* Slider (Login & Register) */
.slider-log {
  position: relative;
}
.slider-log .background {
  min-height: 500px;
  background-image: url("https://i.ibb.co/wd5QSD3/back-login.webp");
  background-repeat: no-repeat;
  background-position: center center;
}
.slider-log h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: 700;
}

/* Home Page */
section.home {
  background: orangered;
  color: #fff;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}
